#
# Template for environment variables to be used
# Copy this file to .env and fill in the values
#
MATCH_ID=[MATCH ID] # match_strengthening_extract.py
CLUB_REF=[CLUB REF] # club_member_data.py && match_strengthening_extract.py
CLUB_NAME=[CLUB NAME] # club_member_data.py && match_strengthening_extract.py
DATA_ANALYSIS_YEAR=[YEAR] # club_member_data.py
LIST_OF_CLUBS=[COMMA SEPARATED LIST OF CLUBS] # generate_prospect_data.py
